bqplot
ipycanvas
ipyevents
ipyleaflet
ipympl
ipywidgets
jupyterlab
jupyterlab-drawio
jupyterlab-fasta
jupyterlab-geojson
jupyterlab_miami_nights
jupyterlite
plotly
theme-darcula
py4macro
py4etrics
wooldridge
see
lmdiag
linearmodels
linearsolve
pandas-datareader
